spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/evcharging
    username: ${SPRING_DATASOURCE_USERNAME:evuser}
    password: ${SPRING_DATASOURCE_PASSWORD:evpass}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  sql:
    init:
      mode: never

logging:
  level:
    com.evcharging: DEBUG
    org.hibernate.SQL: DEBUG
